b {
    margin: 0px;
    padding: 0px;
}
main {
    padding: 16px;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}
img {

    height: 200px;

}
nav {
    border-bottom: 1px solid black;
    padding: 16px;
}


.page-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: auto 1fr;
    column-gap: 16px;
}

.title {
    color:rgb(8, 56, 8)
}
.ending {
    padding: 30px;
    background-color: #424651;
    color:#C492B1;
}

a {
    text-decoration: none;
    color: #424651;
}
nav {
    background-color: #C492B1;
    color: #C492B1;
    border-bottom: white;


}
 tr:nth-child(even) {
    background-color: lightgray ;
 }
